<div class="container d-flex justify-content-center align-items-center skills-section" id="CONTACT">
  <form action="https://formsubmit.co/https://formsubmit.co/42857468@fi.unju.edu.ar" method="POST">
    <h2>Contact Me</h2>
    <div class="input-group">
      <div class="mb-3">
        <label for="name" class="stringContact">Name</label>
        <div>
          <input type="text" name="name" id="name" placeholder="Name">
        </div>
      </div>
      <div class="mb-3">
        <label for="phone" class="stringContact">Phone</label>
        <div>
          <input type="tel" name="phone" id="phone" placeholder="Phone">
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="stringContact">Email</label>
        <div>
          <input type="email" name="email" id="email" placeholder="Email">
        </div>
      </div>
      <div class="mb-3">
        <label for="message" class="stringContact">Message</label>
        <div>
          <textarea name="message" id="message" cols="30" rows="5" placeholder="Message"></textarea>
        </div>
      </div>
      <div>
        <input class="btnForm" type="submit" value="Send">
      </div>
      <input type="hidden" name="_next" value="https://portfolio-quirogalucaslautaro.up.railway.app/">
      <input type="hidden" name="_captcha" value="false">
      <input type="hidden" name="_template" value="table">
    </div>
  </form>
</div>
