<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container">
      <a class="navbar-brand" href="#">Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item d-flex align-items-center">
                  <a class="nav-link active" aria-current="page" href="#top"><img src="/img/navbar/home.png" alt="" class="img-fluid me-2" style="width: 24px; height: 24px;">Home</a>
              </li>
              <li class="nav-item d-flex align-items-center">
                  <a class="nav-link" href="#SKILLS"><img src="/img/navbar/skills.png" alt="" class="img-fluid me-2" style="width: 24px; height: 24px;">Skills</a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link" href="#WORKS"><img src="/img/navbar/works.png" alt="" class="img-fluid me-2" style="width: 24px; height: 24px;">Works</a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link" href="#PROJECTS"><img src="/img/navbar/projects.png" alt="" class="img-fluid me-2" style="width: 24px; height: 24px;">Projects</a>
              </li>
              <li class="nav-item d-flex align-items-center">
                <a class="nav-link" href="#CONTACT"><img src="/img/navbar/email.png" alt="" class="img-fluid me-2" style="width: 24px; height: 24px;">Contact</a>
              </li>
          </ul>
      </div>
  </div>
</nav>

  