<div class="row mt-0 pb-0">
    <div class="skills-section" id="SKILLS" > 
        <div class="col-12 text-center">
            <h2>SKILLS</h2>
        </div>
        <div class="row">
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center bg-primary">
                <h5>Programación</h5>
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="p-1">
                        <img src="/img/skills/java.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/python.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/lazarus.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/HTML5.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/CSS3.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/javascript.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center bg-primary">
                <h5>Base de Datos</h5>
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="p-1">
                        <img src="/img/skills/java.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/python.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/lazarus.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/HTML5.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/CSS3.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/javascript.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center bg-primary">
                <h5>Control de Versiones</h5>
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="p-1">
                        <img src="/img/skills/java.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/python.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/lazarus.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/HTML5.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/CSS3.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/javascript.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center bg-primary">
                <h5>Frameworks</h5>
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="p-1">
                        <img src="/img/skills/java.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/python.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/lazarus.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/HTML5.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/CSS3.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/javascript.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center bg-primary">
                <h5>BackEnd</h5>
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="p-1">
                        <img src="/img/skills/java.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/python.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/lazarus.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/HTML5.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/CSS3.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/javascript.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center bg-primary">
                <h5>FrontEnd</h5>
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="p-1">
                        <img src="/img/skills/java.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/python.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/lazarus.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/HTML5.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/CSS3.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                    <div class="p-1">
                        <img src="/img/skills/javascript.png" class="img-fluid" alt="" width="50" height="50">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>