<div class="container skills-section" id="WORKS">
    <div class="row justify-content-center mt-0 pb-0">
        <div class="col-12 text-center">
            <h2>WORKS</h2>
        </div>
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/produccion.png" class="img-fluid rounded-start" alt="Work1 Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Work1</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            </p>
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <div class="btnCard"><a href="">See Project</a></div>
                                </div>
                                <div class="col-4 text-end">
                                    <a href="https://github.com/LucasLautaro12" title="Connect on GitHub" target="_blank" rel="noreferrer">
                                        <img src="/img/github.png" alt="GitHub" class="img-fluid" style="width: 24px; height: 24px;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/produccion.png" class="img-fluid rounded-start" alt="Work1 Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Work1</h5>
                            <p class="card-text">
                                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                            </p>
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <div class="btnCard"><a href="">See Project</a></div>
                                </div>
                                <div class="col-4 text-end">
                                    <a href="https://github.com/LucasLautaro12" title="Connect on GitHub" target="_blank" rel="noreferrer">
                                        <img src="/img/github.png" alt="GitHub" class="img-fluid" style="width: 24px; height: 24px;">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
