<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/main.css">
    <%- include('partails/head') %>
</head>
<body>
    <%- include('partails/header') %>
    <h1>MiPrimeraApp</h1>
    <%- include('partails/footer') %>

</body>
</html>