body{
    background: #FDF0AC;
}

.bg-black {
    background: #000;
}

.card-project:hover{
    border:1px solid #fff;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px; /* Space between rows */
    padding: 10px; /* Optional: Padding inside the row */
}

  
