body{
    background: #FDF0AC;
    align-items: center;
    justify-content: center;
}

.bg-black {
    background: #000;
}

.content-section {
    margin-top: 60px;
}

.skills-section{
    padding-top: 60px;
}

footer{
    background: #EAD66B;
}

.card-project:hover{
    border:1px solid #fff;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px; 
    padding: 5px; 
}

form{
    padding: 60px 55x;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 500px;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color:#283629;
    font-size: 35px;
}

.stringContact{
    color:#283629;
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 15px;
    
}

input, textarea {
    margin-left: 25px;
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #fffeed;
    border: 2px solid #faf9f0;
    color: #363528;
    outline: none;
    width: calc(100% - 50px); 
}

input::placeholder, textarea::placeholder{
    color: #b5cab6;
}

.btnForm{
    font-size: 16px;
    color: #FFFFFF;
    border: 0;
    border-radius: 25px;
    background-color: #dfc635;
    box-shadow: 0 0 20px rgba(254, 246, 0, 0.7);
    cursor: pointer;
}

.btnForm:hover{
    background-color: #f0d642;
}

@media(max-width:991px) {
    body{
        padding: 30px;
    }   
    form{
        padding: 50px 30px;
        width: 100%;
    }
    input{
        padding: 15px;
    }
}

.custom-card {
    border: 1px solid #000;
    overflow: hidden;
    transition: transform 0.2s, z-index 0.2s;
    position: relative;
    z-index: 1;
    margin: 10px;
}

.custom-card img {
    width: 100%; 
    height: auto;
}

.custom-card:hover {
    transform: scale(1.10);
    z-index: 10;
}

.custom-card .card-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    margin-bottom: 0;
}

.btnCard {
    color: #ffffff;
    font-weight: bold;
    display: block;
    padding: 10px 12px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: 0;
    background-color: #55acee;
    width: 100%;
}

.btnCard a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 100%;
}

@media (max-width: 768px) {
    .custom-card {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 769px) {
    .custom-card {
        width: 330px;
        height: 550px;
    }
}

.col-4 {
    text-align: right;
}

.nav-item {
    display: flex;
    align-items: center;
    
}
